.Rproj.user
/.quarto

_site/

# generated at render time by downloads.R
_downloads.html

## https://github.com/github/gitignore/blob/master/R.gitignore
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

index_files
.Renviron
/.quarto/
**/*.quarto_ipynb
